<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Your password has been changed!</title>
    </head>

    <body>
        <p>Hi {{ name }},</p>
        <p>
            Your password has been successfully changed. If you did not initiate this request or complete it please response to this email.
        </p>
    </body>

</html>